@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared Styles */
.text-primary{
  color: #FD6E0A;
}
.text-center{
  text-align: center;
}
.secondary-bg{
  background-color: rgba(255, 248, 243, 1);
}
.dark-2{
  color: #757575;
}
.section-title{
  color: rgba(24, 24, 24, 1);
  font-size: 35px;
  font-weight: 700;
}
.section-description{
  color: rgba(117, 117, 117, 1);
  font-size: 18px;
  font-weight: 400;
}
hr{
  border: 1px solid var(--Dark 05, rgba(209, 209, 209, 1));
}
.btn-primary{
  background-color: #FD6E0A;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 35px;
  border: none;
  border-radius: 5px;
  color: white;
}
.btn-primary:hover{
  background-color: white;
  color: #FD6E0A;
  border: 1px solid #FD6E0A;
}

/* Header Styles */
.header{
  background-image: url(../resources/images/developer.png), url(../resources/images/header_bg.png);
  background-repeat: no-repeat;
  background-position: left, bottom right;
}

/* Navbar Styles */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 230px;
}
.nav-title{
  font-weight: 800;
  font-size: 45px;
}
nav ul{
  display: flex;
  align-items: center;
}
nav ul li{
  list-style: none;
  margin-right: 50px;
}
nav ul li a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}

/* Banner Styles */
.banner{
  display: flex;
  justify-content: space-between;
  margin: 45px 35px 0px 230px;
}
.banner-greetings{
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 0px;
}
.banner-name{
  font-size: 85px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 20px;
}
.banner-description{
  color: rgba(117, 117, 117, 1);
  font-size: 18px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 0px;
}
.banner button{
  margin-top: 20px;
  margin-right: 30px;
}
.banner-pic{
  width: 584px;
  height: 676px;
}

/* Main Styles */
main{
  max-width: 1140px;
  margin: 0 auto;
}

/* About Me Styles */
.about{
  margin-top: 130px;
  border-radius: 10px;
  padding: 100px 155px;
  text-align: center;
  margin-bottom: 130px;
}
.about-me{
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}
.about-items{
  display: flex;
  justify-content: space-around;
}
.about-item h4{
  color: rgba(117, 117, 117, 1);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0px;
}
.about-item p{
  margin-top: 5px;
  color: rgba(117, 117, 117, 1);
  font-size: 20px;
  font-weight: 600;
}

/* What I Do Styles */
.skills > p{
  width: 900px;
  margin: 0 auto;
}
.skills-container{
  margin-top: 80px;
  display: flex;
  gap: 25px;
  margin-bottom: 130px;
}
.skill{
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  background-color: rgba(255, 255, 255, 1);
}
.skill:hover{
  transform: scale(1.1);
}

/* Resume Styles */
.resume{
  margin-bottom: 130px;
}
.resume-column{
  margin-top: 80px;
  display: flex;
  gap: 45px;
  margin-bottom: 50px;
}
.resume-column .edu-heading, .exp-heading{
  color: rgba(71, 71, 71, 1);
  font-size: 30px;
  font-weight: 700;
}
.resume-column .edu-title, .exp-title{
  color: rgba(71, 71, 71, 1);
  font-size: 25px;
  font-weight: 700;
}
.resume-column .edu-uni, .exp-cmp{
  color: rgba(117, 117, 117, 1);
  font-size: 20px;
  font-weight: 600;
}
.resume-column .edu-des, .exp-des{
  color: rgba(117, 117, 117, 1);
  font-size: 16px;
  font-weight: 400;
}